.jumbotron {
    background-image: url("../images/nba-mock.png");
    background-size: cover; 
}

.container {
    margin-top: 5rem;
}

h1 {
    font-size: 5rem !important;
    color: whitesmoke;
}

.lead {
    color: whitesmoke;
}

.save {
    margin-top: 2%;
}

.delete {
    margin-top: 2%;
}

.addNote {
    margin-top: 1%;
}

.deleteNote {
    margin-bottom: 2%;
}