<nav> 
    <div class="nav-wrapper topnav">
        <a href="/" class="brand-logo center">Scraper Tech</a>
        <ul class="right" id="nav-mobile">
            <li><a href="/scrape">Scrape</a></li>
            <li><a href="/clearall">Clear Articles</a></li>
            <li><a href="https://github.com/shumie-code/MongoWebScrapper" target="_blank">Git Repo</a></li>
        </ul>
    </div>
</nav>